{% extends 'main.html'%}
{%load static%}
{%load i18n%}
{% block title %}
О деятельности компании
{%endblock title%}

{% block body %}


<div class="title__section" style="background-image:url(/media/banner/projects.jpeg)">
    <div class="container">
        <div class="section__title">{%trans 'Проекты' %}</div>
    </div>
</div>
<div class="container">
    <div class="about__section-content">
        <div class="about__section-logo"
             style="display: flex; justify-content: center; align-items: center; overflow: hidden; width: 100%; height: 300px;">
            {{department.description | safe}}
        </div>
    </div>
</div>


{%endblock body%}