{% extends 'main.html'%}
{%load static%}
{%load i18n%}
{% block title %}
О деятельности компании
{%endblock title%}

{% block body %}


<div class="title__section" style="background-image:url(/media/banner/projects.jpeg)">
    <div class="container">
        <div class="section__title">{%trans 'Проекты' %}</div>
    </div>
</div>

<div class="about__section">
    <div class="container about">
        <div class="about__section-content">
            <div class="about__section-logo">
            </div>
            <div class="about__section-text">
                {{department.description | safe}}
            </div>
        </div>
    </div>
</div>


{%endblock body%}