<div class="tariff__bg">
    <div class="tariffs__section">
        <div class="container" style="margin-top:64px;">
            <div class="tariffs__slide" style="padding-bottom:0">
                <div class="tariffs__slider">
                    <div class="tariffs__card-out">
                        <div class="tariffs__card">
                            <div class="tariffs__card-status info">
                                <svg width="40" height="80" viewBox="0 0 40 80" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!--<path fill-rule="evenodd" clip-rule="evenodd"-->
                                    <!--      d="M0 0H2L2 78.35L0 80V0ZM3 77.525L3 0H37L37 77.525L20 63.5L3 77.525ZM38 78.35L40 80V0H38L38 78.35Z"-->
                                    <!--      fill=""/>-->
                                    <!--      fill=""/>-->
                                </svg>
                            </div>
                            <div class="tariffs__card-title">GOLD</div>
                            <div class="tariffs__card-text">Договор между кредитором и заёмщиком, в соответствии с которым
                                банк или иная кредитная организация (кредитор) обязуются предоставить денежные средства
                                (кредит) заёмщику в размере и на условиях.
                            </div>
                            <div class="tariffs__card-link"><a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM17 11L15.59 9.59L13 12.17V4H11V12.17L8.41 9.59L7 11L12 16L17 11Z"></path>
                                </svg>
                                скачать</a></div>
                        </div>
                    </div>
                    <div class="tariffs__card-out">
                        <div class="tariffs__card">
                            <div class="tariffs__card-status default">
                                <svg width="40" height="80" viewBox="0 0 40 80" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!--<path fill-rule="evenodd" clip-rule="evenodd"-->
                                    <!--      d="M0 0H2L2 78.35L0 80V0ZM3 77.525L3 0H37L37 77.525L20 63.5L3 77.525ZM38 78.35L40 80V0H38L38 78.35Z"-->
                                    <!--      fill=""/>-->
                                </svg>
                            </div>
                            <div class="tariffs__card-title">PREMIUM</div>
                            <div class="tariffs__card-text">Договор между кредитором и заёмщиком, в соответствии с которым
                                банк или иная кредитная организация (кредитор) обязуются предоставить денежные средства
                                (кредит) заёмщику в размере и на условиях.
                            </div>
                            <div class="tariffs__card-link"><a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM17 11L15.59 9.59L13 12.17V4H11V12.17L8.41 9.59L7 11L12 16L17 11Z"></path>
                                </svg>
                                скачать</a></div>
                        </div>
                    </div>
                    <div class="tariffs__card-out">
                        <div class="tariffs__card">
                            <div class="tariffs__card-status success">
                                <svg width="40" height="80" viewBox="0 0 40 80" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!--<path fill-rule="evenodd" clip-rule="evenodd"-->
                                    <!--      d="M0 0H2L2 78.35L0 80V0ZM3 77.525L3 0H37L37 77.525L20 63.5L3 77.525ZM38 78.35L40 80V0H38L38 78.35Z"-->
                                    <!--      fill=""/>-->
                                </svg>
                            </div>
                            <div class="tariffs__card-title">FREE</div>
                            <div class="tariffs__card-text">Договор между кредитором и заёмщиком, в соответствии с которым
                                банк или иная кредитная организация (кредитор) обязуются предоставить денежные средства
                                (кредит) заёмщику в размере и на условиях.
                            </div>
                            <div class="tariffs__card-link"><a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM17 11L15.59 9.59L13 12.17V4H11V12.17L8.41 9.59L7 11L12 16L17 11Z"></path>
                                </svg>
                                скачать</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
